@media only screen and (max-width:1920px) {
    .xl-margin{
        margin-left: 800px ;
    }
    .weather-home {
        width: 1920px;
        height: 1080px;
        background-image: url(../assets/img/cloudEvening1.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;

        .weather-home-UI {
            display: flex;
            width: 92%;
            height: 20%;
            justify-content: space-between;
            align-items: center;
            margin-left: 40px ;
        }
    }



    .weather-home-weather-today-svg-left{
        width: 60px;
        height: 60px;
        right: 140px;
        bottom: 300px;
        background-size: 30px 30px !important;
    }

    .weather-home-weather-today-svg-right{
        width: 60px;
        height: 60px;
        right: 10px;
        bottom: 300px;
        background-size: 30px 30px !important;
    }

    .weather-home-weather-today-wrapper{
        position: absolute;
        overflow: hidden;
        width: 1470px;
        left: 445px;
        height: 240px;
        bottom: 50px;
          .weather-today {
            display: flex;
            gap: 20px;
            height: 150px;
            align-items: center;
          }

        .weather-home-weather-today{
            position: absolute;
            bottom: 15px;
            height: 200px;
            padding: 15px;
            color: #fff;
            .weather-today-item{
                height: 220px;
                width: 190px;
                .weather-today-item-weekday{
                    font-size: 26px;
                }
                .weather-today-item-time{
                    font-size: 21px;
                }
                .weather-today-item_img{
                    width: 100px;
                }
                .weather-today-item-temp{
                    font-size: 26px;
                }
            }
        }
    }

    .the-weather-now {
        position: absolute;
        left: 40px;
        height: 605px;
        font-family: 'Inter',sans-serif;
        color: #fff;
        .now-info{

        width: 400px;

            .temp-feel{
                font-size: 150px;
            }
            .info-wrap{
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                width: 400px;

                .min-temp{
                    font-size: 50px;
                    .info-description{
                        font-size: 21px;
                    }
                }
                .max-temp{
                    font-size: 50px;
                    .info-description{
                        font-size: 21px;
                    }
                }
                .humidity{
                    font-size: 50px;
                    .info-description{
                        font-size: 21px;
                    }
                }
                .pressure{
                    font-size: 50px;
                    .info-description{
                        font-size: 21px;
                    }
                }
            }
            .wind{
                font-size: 50px;
                .wind-description{
                    font-size: 21px;
                }
            }
        }

    }
}
@media only screen and (max-width: 1600px) {
    .lg-margin{
        margin-left: 660px;
    }
    .weather-home {
        width: 1600px;
        height: 900px;
        background-image: url(../assets/img/cloudEvening1.jpg);
        .weather-home-UI {
            width: 95%;
            height: 200px;
        }
    }



    .weather-home-weather-today-svg-left{
        width: 50px;
        height: 50px;
        right: 127px;
        bottom: 234px;
    }

    .weather-home-weather-today-svg-right{
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 234px;
    }

    .weather-home-weather-today-wrapper{
        width: 76.4%;
        left: 366px;
        height: 245px;
        bottom: 0;


        .weather-home-weather-today{
            bottom: 15px;
            height: 200px;
            padding: 15px;
            .weather-today-item{
                width: 154px;
                height: 200px;
                .weather-today-item-weekday{
                    font-size: 20px;
                }
                .weather-today-item-time{
                    font-size: 20px;
                }
                .weather-today-item_img{
                    width: 80px;
                }
                .weather-today-item-temp{
                    font-size: 20px;
                }
            }
        }
    }

    .the-weather-now {
        height: 472px;
        .now-info{

        width: 300px;

            .temp-feel{
                font-size: 100px;
            }
            .info-wrap{
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                width: 275px;
                margin-bottom:10px ;
                .min-temp{
                    font-size: 40px;
                    .info-description{
                        font-size: 18px;
                    }
                }
                .max-temp{
                    font-size: 40px;
                    .info-description{
                        font-size: 18px;
                    }
                }
                .humidity{
                    font-size: 40px;
                    .info-description{
                        font-size: 18px;
                    }
                }
                .pressure{
                    font-size: 40px;
                    .info-description{
                        font-size: 18px;
                    }
                }
            }
            .wind{
                font-size: 40px;
                .wind-description{
                    font-size: 19px;
                }
            }
        }

    }
    .switch-lang{
        .q-field__native {
            padding-bottom: 7px;
            display: flex;
            justify-content: center;
            span{
                text-align: center;
            }
        }
    }
    .switch-temp-button{
        .q-field__native {
            padding-bottom: 7px;
            padding-left: 6px;
        }
    }
}


@media only screen and (max-width: 1440px) {
    .weather-home {
        width: 1440px;
        height: 768px;
        background-image: url(../assets/img/cloudEvening1.jpg);
    }



    .weather-home-weather-today-svg-left{
        width: 45px;
        height: 45px;
        right: 164px;
        bottom: 234px;
        background-size: 25px 25px !important;
    }

    .weather-home-weather-today-svg-right{
        width: 45px;
        height: 45px;
        right: 56px;
        bottom: 234px;
        background-size: 25px 25px !important;
    }

    .weather-home-weather-today-wrapper{
        width: 72.4%;
        left: 345px;
        height: 245px;
        bottom: 0;


        .weather-home-weather-today{
            .weather-today-item{
                width: 154px;
                height: 200px;
            }
        }
    }
}
@media only screen and (max-width: 1366px){
.weather-home {
    width: 1366px;
    height: 768px;
    background-image: url(../assets/img/cloudEvening1.jpg);
}



.weather-home-weather-today-svg-left{
    right: 138px;
    bottom: 224px;
}

.weather-home-weather-today-svg-right{
    right: 34px;
    bottom: 224px;
}

.weather-home-weather-today-wrapper{
    height: 220px;

    .weather-home-weather-today{
        .weather-today-item{
          width: 145px;
          height: 175px;
            .weather-today-item-weekday{
                font-size: 18px;
            }
            .weather-today-item-time{
                font-size: 18px;
            }
            .weather-today-item_img{
                width: 70px;
            }
            .weather-today-item-temp{
                font-size: 18px;
            }
        }
    }
}

.switch-lang{
    .q-field__native {
        padding-bottom: 20px;
    }
}
.switch-temp-button{
    .q-field__native {
        padding-bottom: 20px;
        padding-left: 6px;
    }
}
}
@media only screen and (max-width: 1280px) {
    .md-margin{
        margin-left: 600px;
    }
    .weather-home {
        width: 1280px;
        height: 720px;
    }



    .weather-home-weather-today-svg-left{
        width: 40px;
        height: 40px;
        right: 122px;
        bottom: 220px;
    }

    .weather-home-weather-today-svg-right{
        width: 40px;
        height: 40px;
        right: 33px;
        bottom: 220px;
    }

    .weather-home-weather-today-wrapper{
        width: 69.4%;
        left: 369px;
        height: 207px;


        .weather-home-weather-today{
            .weather-today-item{
                width: 127px;
                height: 165px;
                .weather-today-item-weekday{
                    font-size: 16px;
                }
                .weather-today-item-time{
                    font-size: 16px;
                }
                .weather-today-item_img{
                    width: 65px;
                }
                .weather-today-item-temp{
                    font-size: 16px;
                }
            }
        }

    }

    .the-weather-now {
        height: 410px;
        .now-info{

            .temp-feel{
                font-size: 80px;
            }
            .info-wrap{
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                width: 250px;
                .min-temp{
                    font-size: 35px;
                }
                .max-temp{
                    font-size: 35px;
                    .info-description{
                        font-size: 18px;
                    }
                }
                .humidity{
                    font-size: 35px;
                }
                .pressure{
                    font-size: 35px;
                }
            }
            .wind{
                font-size: 35px;
                    .wind-description{
                        font-size: 18px;
                    }
            }
        }

    }
    .switch-lang{
        .q-field__native {
            padding-bottom: 20px;
        }
    }
    .switch-temp-button{
        .q-field__native {
            padding-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .weather-home {
        width: 1024px;
        height: 600px;
        background-image: url(../assets/img/cloudEvening1.jpg);
        background-size: cover;
        .weather-home-UI {
            width: 20%;
            height: 200px;
        }
    }



    .weather-home-weather-today-svg-left{
        width: 35px;
        height: 35px;
        right: 96px;
        bottom: 170px;
        background-size: 21px 21px !important;
    }

    .weather-home-weather-today-svg-right{
        width: 35px;
        height: 35px;
        right: 16px;
        bottom: 170px;
        background-size: 21px 21px !important;
    }

    .weather-home-weather-today-wrapper{
        overflow: hidden;
        width: 76.4%;
        left: 234px;
        height: 165px;
        bottom: 0px;

        .weather-today {
         gap: 15px;
         height: 168px;
        }
        .weather-home-weather-today{
            height: 164px;
            .weather-today-item{
                width: 114px;
                height: 159px;
                .weather-today-item-weekday{
                    font-size: 15px;
                }
                .weather-today-item-time{
                    font-size: 15px;
                }
                .weather-today-item_img{
                    width: 70px;
                }
                .weather-today-item-temp{
                    font-size: 15px;
                }
            }
        }
    }

    .the-weather-now {
        left: 18px;
        height: 330px;
        width: 100px;
        .now-info{

        width: 220px;

            .temp-feel{
                font-size: 60px;
            }
            .info-wrap{
                grid-column-gap: 3px;
                grid-row-gap: 3px;
                width: 220px;
                margin-bottom:10px ;
                .min-temp{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
                .max-temp{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
                .humidity{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
                .pressure{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
            }
            .wind{
                font-size: 30px;
                    .wind-description{
                        font-size: 14px;
                    }
            }
        }

    }
    .switch-lang{
        .q-field__native {
            padding-bottom: 21px;
        }
    }
    .switch-temp-button{
        .q-field__native {
            padding-left: 6px;
        }
    }


}
@media only screen and (max-width: 414px) {
    .weather-today-item-time{
        padding-left: 0;
    }
    html{
      background: #fff;
    }
    body{
        background-image: url(../assets/img/cloudEvening1.jpg);
        background-size:contain ;
    }
    .weather-home {
        width: 414px;
        height: 900px ;
        .weather-home-UI {
            width: 95%;
            height: 200px;
        }
    }



    .weather-home-weather-today-svg-left,.weather-home-weather-today-svg-right{
        display: none;
    }

    .weather-home-weather-today-wrapper {
            position: absolute;
            overflow: hidden;
            width: 89%;
            left: 24px;
            height: 180px;
            bottom: 85px;

           .weather-today {
            gap: 10px;
            height: 168px;
           }
        .weather-home-weather-today{
            position: absolute;
            bottom: 15px;
            height: 164px;
            padding: 15px;
            color: #fff;
            .weather-today-item{
                width: 80px;
                height: 115px;
                .weather-today-item-weekday{
                    font-size: 12px;
                }
                .weather-today-item-time{
                    font-size: 12px;
                }
                .weather-today-item_img{
                    width: 40px;
                }
                .weather-today-item-temp{
                    font-size: 12px;
                }
            }
        }
    }

    .the-weather-now {
        position: absolute;
        left: 50px;
        height: 608px;
        font-family: 'Inter', sans-serif;
        color: #fff;
        width: 100px;
        .now-info{

            width: 320px;

            .temp-feel{
                font-size: 60px;
            }
            .info-wrap{
                grid-column-gap: 3px;
                grid-row-gap: 3px;
                width: 220px;
                margin-bottom:10px ;
                .min-temp{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
                .max-temp{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
                .humidity{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
                .pressure{
                    font-size: 30px;
                    .info-description{
                        font-size: 14px;
                    }
                }
            }
            .wind{
                font-size: 30px;
                    .wind-description{
                        font-size: 14px;
                    }
            }
        }

    }
    .switch-lang{
        .q-field__native {
            padding-bottom: 21px;
            display: flex;
            justify-content: center;
            span{
                text-align: center;
            }
        }
    }
    .switch-temp-button{
        .q-field__native {
            padding-bottom: 20px ;
            padding-left: 6px;
        }
    }

    .q-expansion-item {
        position: absolute;
        right: 10px;
        top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .q-expansion-item__container{
          .q-item__section{
            text-align: center;
            padding-left: 0px;
            .q-icon{
              padding-left: 10px;
            }
          }
        }
    }
    .q-search-select {
        .q-field__input{
            width: 360px;
        }
    }
}
@media only screen and (max-width: 380px) {
    body{
        background-image: url(../assets/img/cloudEvening1.jpg);
        background-size:cover;
    }
    .weather-home {
        width: 380px;
        height: 830px;
    }

    .weather-home-weather-today-wrapper {
        left: 0px;
        bottom: 20px;

    }

    .the-weather-now {
        left: 30px;
        height: 510px;
    }


    .q-expansion-item {
        right: 15px;
    }
    .q-search-select {
        .q-field__input{
            width: 320px;
        }
    }
}
@media only screen and (max-width: 375px) {
    .weather-home {
        width: 375px;
        height: 825px;
    }

    .weather-home-weather-today-wrapper {
        width: 100%;
        left: -2px;
        bottom: 10px;
        .weather-home-weather-today{
            .weather-today-item{
                .weather-today-item-weekday{
                    padding-left: 2px;
                }
                .weather-today-item-time{
                    padding-left: 0px;
                }
            }
        }
    }

    .the-weather-now {
        left: 28px;
        height: 510px;
    }
    .q-expansion-item {
      right: 10px;
  }
    }



@media only screen and (max-width: 320px) {
    .weather-home {
        width: 320px;
        height: 800px;
    }

    .weather-home-weather-today-wrapper {
      width: 89%;
      left: 18px;
        .weather-home-weather-today{
            bottom: 29px;
        }
    }

    .the-weather-now {
        left: 20px;
        height: 510px;
        .now-info{
          width: 290px;
        }

    }
      .q-expansion-item {
        right: 0px;
    }
    .q-search-select {
        .q-field__input{
            width: 276px;
        }
    }
}
