.q-search-select {
    .q-field__control {
        background: none;

        .q-field__native {
            width: 500px;
            font-size: 30px;
            border-radius: 15px;
            margin: 0;

            .q-field__input {
                padding-left: 15px;
            }
        }
    }

    .q-field__control:before,
    .q-field__control:after {
        transition: none;
        content: none;
    }

    .q-field__control.relative-position.row.no-wrap {
        background: none;
    }
}