.switch-temp-button{
    .q-field__control-container{
        display: flex;
        align-items: center;
    }
    
    .q-field__native {
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            width:450px;
            text-align: center;
        }
    }
    

    .q-field__control:before, .q-field__control:after{
        transition: none;
        content: none;
    }
}