.weather-now {
  height: 600px;
  width: 400px;
  background-size: cover;
  position: absolute;
  font-family: 'Inter', sans-serif;
  color: #fff;
  bottom: 32px;
  left: 40px;
  
    .now-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background: #0000003f;
      border-radius: 15px;
      padding: 20px 0;
  
      .temp-feel {
        font-size: 150px;
      }
      .wind {
        display: flex;
        width: max-content;
        align-items: center;
        font-size: 50px;
        .wind-description{
          font-size: 20px;
        }
      }
      .info-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
        height: 300x;
        width: 400px;
        font-size: 50px;
  
        .min-temp {
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
  
        .max-temp {
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .pressure{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .humidity {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
  
        .info-description  {
          font-size: 20px;
          word-wrap: break-word;
          
        }
      }
    }
  }