*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}



@import url(./_weatherHome.scss);
@import url(./_weatherTodayItem.scss);
@import url(./_weatherNow.scss);
@import url(./_theme.scss);
@import url(./_searchSelect.scss);
@import url(./_switchTheme.scss);
@import url(./_switchLang.scss);
@import url(./_switchTempButton.scss);

@import url(./_adaptive.scss);